<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
    <title>{{ name.name }}'s Washlist</title>
</head>
<body>
<h2><img class="avatar" src="{{ url_for('static',filename='images/avatar.png') }}" alt="">
    {{ name.name }}'s Watchlist
</h2>

{# 使用lenght过滤器获取movies变量的长度 #}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>
    {% endfor %}
</ul>

<img class="totoro" src="{{ url_for('static',filename='images/totoro.gif') }}" alt="">

<footer>
    <small>&copy; 2019 <a href="#">Flask</a></small>
</footer>

</body>
</html>
